html, body
{
  height: 100%;
  margin: 0;
  background-image: src="getty.jpg";
}

body
{
	background-image: url("pur.jpg");
}

.header
{
	color: white;font-family:  'Lobster', cursive;
	font-size: 45px;letter-spacing: 10px;
	margin-top: 80px;
}
.header img
{
	width: 80px;
	margin-left: -15px;
}

.login_div
{
	background: rgba(255,255,255,0.8);
	float: none;
	border-radius: 15px;
}

.logo
{
	width: 80px;
	margin-top: 30px;
	border-radius: 40px;
}

#login_button
{
	width: 80%;
	border-radius: 15px;
}

#get
{
	height: 200px;
	width: 250px;
}

#add
{
	color: white;
	font-weight: bold;
	font-family: 'Miltonian Tattoo', cursive;
}

#room
{
	color: white;
	font-weight: bold;
	font-family: 'Miltonian Tattoo', cursive;
}

#user_name
{
	color: palevioletred;
	font-weight: bold;
}

#output
{
	color: white;
	font-weight: bold;
}